@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 3, 54, 0.568);
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.page-content .container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 310px;
  height: 550px;
  padding: 10px;
  box-shadow: 3px 5px 10px #000;
  background-color: rgba(2, 2, 29, 0.342);
}

.page-content .container .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.page-content .container .head h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 32px;
}

.page-content .container .head form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}

.page-content .container .head form input {
  width: 200px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgb(153, 153, 153);
  color: #fff;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.page-content .container .head form button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  border: none;
  background: rgba(13, 231, 5, 0.445);
  border: 1px solid rgb(153, 153, 153);
  color: #fff;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.page-content .container .head form button i {
  font-size: 16px;
}

.page-content .container .list-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 300px;
  height: 350px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.page-content .container .list-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px;
  width: 100%;
  background: rgba(14, 3, 109, 0.356);
  transition: all 0.3s ease-in-out;
}

.page-content .container .list-content ul li:nth-child(odd) {
  background: rgba(18, 67, 87, 0.527);
}

.page-content .container .list-content ul li:hover {
  background: rgba(64, 124, 148, 0.527);
}

.page-content .container .list-content ul li:nth-child(odd):hover {
  background: rgba(168, 215, 233, 0.527);
}

.page-content .container .list-content ul li input[type="checkbox"] {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  align-self: flex-start;
}

.page-content .container .list-content ul li p {
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
}

.page-content .container .list-content ul li span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.page-content .container .list-content ul li span i {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-content .container .list-content ul li span i.fa-pen-to-square {
  color: rgb(62, 238, 62);
}
.page-content .container .list-content ul li span i.fa-pen-to-square:hover {
  color: rgb(170, 241, 170);
}

.page-content .container .list-content ul li span i.fa-calendar-xmark {
  color: rgb(233, 102, 102);
}

.page-content .container .list-content ul li span i.fa-calendar-xmark:hover {
  color: rgb(236, 175, 175);
}

.page-content .container .foot {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.page-content .container .foot button {
  padding: 10px 30px;
  background-color: rgba(245, 11, 11, 0.575);
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.page-content .container .foot button:hover {
  background-color: rgba(131, 10, 10, 0.712);
}

@media only screen and (min-width: 768px) {
  .page-content .container {
    width: 400px;
  }

  .page-content .container .list-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 380px;
    height: 350px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
  }
}
